<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pacientes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
</head>

<body>
    <div class="login-container">
        <h2>Login</h2>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="flashes">
                    {% for category, message in messages %}
                        <div class="flash-message {{ category }}">{{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        <form id="login-form" action="{{ url_for('login') }}" method="post">
            <div class="input-group">
                <label for="usuario">Usuário:</label>
                <input type="text" id="usuario" name="username" required>
            </div>
            <div class="input-group">
                <label for="senha">Senha:</label>
                <input type="password" id="senha" name="password" required>
            </div>
            <button type="submit">Login</button>
        </form>

        <p class="pergunta">Não possui conta?</p>
        <button id="cadastro-btn" type="button">Cadastre-se</button>
    </div>

    <script>
        document.getElementById('cadastro-btn').addEventListener('click', function() {
            window.location.href = '{{ url_for("cadastro") }}';
        });

        document.getElementById('login-form').addEventListener('submit', function(event) {
            var usernameInput = document.getElementById('usuario');
            var passwordInput = document.getElementById('senha');
            
            if (!usernameInput.value || !passwordInput.value) {
                event.preventDefault();
                alert('Por favor, preencha todos os campos.');
            }
        });
    </script>
</body>

</html>
